<div *ngIf="episode" class="container">
    <mat-card class="episode">
        <div class="episodeImage text-center">
            <img [src]="episode.image" style="width: 780px;"/>
        </div>
        <div class="text-center">
            <span style="font-size: 2.0em">Season {{episode.season}} - Episode {{episode.episode}}: {{episode.name}}</span>
            
        </div>
        <div>
            <span [innerHtml]="episode.description"></span>
        </div>
    </mat-card>
    <div>
        <button mat-raised-button routerLink="/season/{{seasonId}}/episode/{{episode.preEpisode}}" class="prevButton" [disabled]="!episode.preEpisode">&larr; Previous Episode</button>
        <button mat-raised-button routerLink="/season/{{seasonId}}/episode/{{episode.nextEpisode}}" class="nextButton" [disabled]="!episode.nextEpisode">Next Episode &rarr;</button>
    </div>
    
</div>