<mat-toolbar color="secondary" class="nav-bar">
  <div> 
    <span routerLink="" class="brand">LAFILM</span>
    <span class="menu-spacer"></span>
  </div>
  <span class="nav navbar-nav fill-space menu-bar">
    <button mat-button [matMenuTriggerFor]="shows">TV Shows</button>
    <mat-menu #shows="matMenu">
      <button mat-menu-item *ngFor="let genre of genres" routerLink="/shows/{{genre | lowercase}}">{{genre}}</button>
    </mat-menu>

    <button mat-button routerLink="/airing">Airing Now</button>
    <button mat-button routerLink="/favorite-list">My Favorite</button>
  </span>
  <div class="form-inline form-group-sm searchbox">
    <input class="form-control" [(ngModel)]="searchValue" type="search" placeholder="Search" aria-label="Search">
    <button mat-button (click)="goToSearch(searchValue)"><mat-icon>search</mat-icon></button>
  </div>
</mat-toolbar>




