<div *ngIf="show" class="container">
    <div class="row">
        <div class="col-md-3">
            <img [src]='show.image' /> <br />
        </div>
        <div class="col-md-9">
            <div class="show-name">{{show.name}}</div>
            <i>Rating: </i> {{show.rating}} <br />
            <i>Language: </i> {{show.language}} <br />
            <i>Genres: </i> <span *ngFor="let genre of show.genres">{{genre}} | </span> <br />
            <i>Cast: </i> <span *ngFor="let person of show.cast">{{person}} | </span>
        </div>
        <div class="col-md-12">
            <i>Description: </i> <span [innerHtml]='show.description'></span> <br />
        </div>
        <div class="seasons">
            <mat-form-field>
                <mat-label>Seasons</mat-label>
                <mat-select [(value)]="selectedSeason">
                    <span *ngFor="let season of show.seasons; index as i">
                        <mat-option [value]="season" (click)="getEpisodeList(season)">Season {{i + 1}}</mat-option>
                    </span>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
</div>
<app-season-detail [episodeList]="episodesList" [seasonId]="selectedSeasonId" *ngIf='episodesList'></app-season-detail>