<div *ngIf="show" class="container">
    <div class="row">
        <div class="col-md-3">
            <img [src]='show.image' /> <br />
        </div>
        <div class="col-md-9">
            <span style="font-size: 2.0em;font-weight: bolder;">{{show.name}}</span> <br />
            Rating: {{show.rating}} <br />
            Language: {{show.language}} <br />
            Genres: <span *ngFor="let genre of show.genres">{{genre}} | </span> <br />
            Cast: <span *ngFor="let person of show.cast">{{person}} | </span>
        </div>
        <div class="col-md-12">
            Description: <span [innerHtml]='show.description'></span> <br />
        </div>
        <div class="seasons">
            <mat-form-field>
                <mat-label>Seasons</mat-label>
                <mat-select [(value)]="selectedSeason">
                    <span *ngFor="let season of show.seasons; index as i">
                        <mat-option [value]="season" (click)="getEpisodeList(season)">Season {{i + 1}}</mat-option>
                    </span>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
</div>
<app-season-detail [episodeList]="episodesList"></app-season-detail>