.showList {
    padding-bottom: 10px;
}
.ratingBox {
    width: 210px;
    height: 20px;
    background-color: #F8F8F8;
}
.ratingBox span {
    float: right;
}
.show-image {
    place-content: center center;
}
.show-card-inner {
    margin-bottom: 20px;
}
.fill-space {
    flex: 1 1 auto;
}
.favorite-icon {
    float: right;
}

.favorite-icon-inner {
    color: black;
}
.favorite-icon-liked {
    color: red;
}