<div 
  fxLayout="row wrap" 
  fxLayout.lt-sm="column"
  fxLayoutGap="32px" 
  fxLayoutAlign="center" *ngIf="showList.length" class="show-box">

    <ng-container *ngFor="let show of showList" class="show-card">
        <mat-card class="show-card-inner">
            <div class="show-image">
                <a routerLink="/show/{{show.id}}"><img [src]="show.image" /></a>
            </div>
            <span class="rating">
                <mat-icon>grade</mat-icon> 
                <span>{{show.rating}}</span>
            </span>
            <span class="favorite-icon">
                <a (click)="checkFavorited(show)"><mat-icon [ngClass]="isLiked(show.id)">favorite</mat-icon></a>
            </span>
        </mat-card>
    </ng-container>
</div>
